
body {
    background-color: #a4cce0;
}

.navbar-custom {
    border-bottom: 2px solid #0084b4;
}

.nav-link.active {
    color: #0084b4 !important;
    border-bottom: 4px solid #0084b4;
    padding-bottom: 10px;
}

.profile-bg {
    background-color: #0084b4;
    height: 95px;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.profile-avatar {
    top: -35px;
    left: 15px;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    border-radius: 10px;
}

.btn-follow {
    padding: 0px 10px;
    font-size: 0.85rem;
    color: #666;
    border-color: #ccc;
}