body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

.transparent {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.transparent a img {
	opacity: 0.8;
	margin-bottom: 25px;
}

.transparent a:hover img {
	opacity: 1;
}